* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
body {
  font-family: "Public Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}
.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--Magnolia);
}

/* sidebar */

.sidebar {
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  column-gap: 1.2rem;
  padding: 2rem 2rem 5rem;
}

.circle {
  padding: 0.5rem 0.8rem;
  border: solid 1px var(--White);
  text-align: center;
  border-radius: 40px;
}
.active .circle {
  background: var(--Light-blue);
}
.step-content {
  display: none;
}

/* buttons */

.buttons {
  background-color: var(--White);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid 2px green; */
}
.prev-step {
  background-color: var(--White);
  border: none;
  font-weight: 700;
  color: var(--Cool-gray);
}
.next-step,
.confirm {
  padding: 0.5rem 1rem;
  color: var(--White);
  border: none;
  font-weight: 700;
  border-radius: 0.3rem;
  background-color: var(--Marine-blue);
}
.step-1 {
  justify-content: flex-end;
  /* display: flex; */
  display: flex;
}
.step-2 {
  display: none;
}
.step-3 {
  display: none;
}
.step-4 {
  display: none;
}

/*buttons end */

/* for all steps */

.step {
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--White);
  position: absolute;
  top: 5rem;
  left: 5%;
  width: 90%;
}
.error {
  display: none;
  color: var(--Strawberry-red);
}
.header-top {
  padding-bottom: 1rem;
}
.header-para {
  padding-right: 20%;
  padding-bottom: 1rem;
  color: var(--Cool-gray);
}

/* Step 1 info start*/

.step-info-1 {
  display: flex;
}
.step-info-1 form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.step-info-1 form input {
  border: solid 1px var(--Light-gray);
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
  padding: 0.5rem;
  font-weight: 500;
}
.step-info-1 form input:hover {
  border: solid 1px var(--Pastel-blue);
}
.step-info-1 form input:focus {
  outline: 1px solid var(--Light-gray);
}

/* Step 1 info End */

/* Step 2 info start*/

.step-info-2 {
  display: none;
}
.step-info-2 form {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  border: solid 2px var(--Pastel-blue);
}

.plan {
  padding: 0.8rem;
  display: flex;
  gap: 1rem;
  border: solid 1px var(--Light-gray);
  border-radius: 0.6rem;
}
.plan img {
  max-width: 50px;
  max-height: 50px;
}
.plan-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.toggle {
  margin: 0.5rem 0;
  padding: 1rem 2rem;
  background-color: var(--Magnolia);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* creating toggle between monthly and yearly */

.checkbox {
  background-color: var(--Marine-blue);
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
  border-radius: 5rem;
  cursor: pointer;
}
.checkbox::before {
  content: "";
  position: absolute;
  background-color: var(--White);
  width: 1rem;
  height: 1rem;
  margin: 2px;
  border-radius: 5rem;
  transition: 0.2s ease;
}
input:checked + .checkbox::before {
  transform: translateX(1.25rem);
}
.toggle input[type="checkbox"] {
  display: none;
}

/* Step 2 info End*/

/* Step 3 info start*/

.step-info-3 {
  display: none;
}

.step-info-3 form {
  display: flex;
  flex-direction: column;
}
.add-ons-box {
  margin: 0.5rem 0;
  border: solid 2px var(--Light-gray);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-ons-box-first {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.add-ons-box-first input {
  accent-color: var(--Purplish-blue);
}
.description label {
  font-weight: 500;
}
.description p {
  color: var(--Cool-gray);
}
.price-add-ons {
  color: var(--Purplish-blue);
}

/* Step 3 info End*/

/* Step 4 info start */

.step-info-4 {
  display: none;
}
.selection-box {
  background-color: var(--Magnolia);
  padding: 1rem;
}
.selected-plan {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan-name-selected {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.plan-price-selected {
  font-weight: 700;
}
.addons {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.selected-addon {
  display: flex;
  justify-content: space-between;
}

.total {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.plan-name-selected a {
  color: var(--Purplish-blue);
  cursor: pointer;
  text-decoration: underline;
}

/* Step 4 info End */

/* Step 5 info start */
.step-info-5 {
  display: none;
  padding: 5rem 2rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.form-5 {
  border: solid 2px blue;
}
.thank-you {
  font-weight: 700;
  font-size: 1.5rem;
}
.thank-you-description {
  align-self: center;
  text-align: center;
  line-height: 1.5rem;
  color: var(--Cool-gray);
}

/* Step 5 info end */

/* independent classes for JS use */

.red-border {
  border-color: var(--Strawberry-red);
}
.purple-border {
  border-color: var(--Pastel-blue);
}
.display-flex {
  display: flex;
}
.display-none {
  display: none;
}
.confirm {
  background-color: var(--Purplish-blue);
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
    background-color: var(--Magnolia);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--White);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 65%;
    height: 75%;
  }
  .sidebar {
    flex-grow: 1;
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    padding-right: 3rem;
    border-radius: 1rem;
  }
  .steps-sidebar-1,
  .steps-sidebar-2,
  .steps-sidebar-3,
  .steps-sidebar-4 {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  .step-content {
    display: flex;
    flex-direction: column;
  }
  .top-content {
    color: var(--Light-gray);
  }
  .bottom-content {
    color: var(--White);
    font-weight: normal;
  }

  .contentAndButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 4;
  }

  .step {
    margin: 0 auto;
    position: static;
  }
  .buttons {
    padding: 0 10% 3%;
  }

  .step-info-2 form {
    flex-direction: row;
  }
  .plan {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
  }
  .step-info-5{
    margin: auto;
  }
  .thank-you-description{
    max-width: 450px;
    line-height: 1.5;
  }
}
